<!DOCTYPE html>
<html>
  <head>
    <title>데이터 확인</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <button onclick="location.href='/delete'">데이터 초기화</button>
    <% for(var item of infos) { %>
      <p><%= item.content %></p>
    <% } %>
  </body>
</html>
